/* * {
  border: 1px dotted gray;
} */

.div-style {
  text-align: center;
  display: flex;
}
.btn {
  background-color: limegreen;
  color: white;
  width: 100%;
  border-radius: 5px;
  border-color: limegreen;
}

.div-border {
  padding: 5px;
  border: 1px solid black;
}
